/* General Styling */
html,
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
    scroll-behavior: smooth;
}

/* Header */
header {
    background-color: #000;
    color: white;
    padding: 5px;
    font-size: 24px;
    display: flex;
}

.header-text {
    flex: 1;
    text-align: center;
}

header h1 {
    margin: 20px;

}

header h2,
header h4,
header h5 {
    margin: 1px;
    font-family: 'Brush Script MT', cursive;
}

header h4,
header h5 {
    color: goldenrod;
}

/*Marquee Section*/
.marquee-container {
    background: linear-gradient(to right, goldenrod, rgb(128, 92, 2));
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 20px 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

.marquee-text {
    position: absolute;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(calc(-100% - 50px));
    }
}

/* Gallery Section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Image Frames */
.frame {
    width: 250px;
    height: 350px;
    margin: 10px;
    overflow: hidden;
    border: 5px solid #000;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Social Media Links */
.social-links {
    top: 50%;
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 10px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.social-icon {
    margin: 10px 0;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.social-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

}

/* Hover Effect */
.social-icon:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

/* Footer */
footer {
    margin-top: 20px;
    background-color: #000;
    color: white;
    padding: 10px;
    font-size: 14px;
}