/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
}

/* Header */
header {
    background-color: #000;
    color: white;
    padding: 5px;
    font-size: 24px;
    display: flex;
}

/*Logo section*/
/* header div img {
    width: 150px;
    height: 150px;
    margin-top: -30px;
} */

.header-text {
    flex: 1;
    text-align: center;
}


header h1 {
    margin: 20px;

}

header h2,
header h4,
header h5 {
    margin: 1px;
    font-family: 'Brush Script MT', cursive;
}

header h4,
header h5 {
    color: goldenrod;
}

/* Gallery Section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Image Frames */
.frame {
    width: 250px;
    height: 350px;
    margin: 10px;
    overflow: hidden;
    border: 5px solid #000;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Social Media Links */
.social-links {
    margin-top: 20px;
}

.social-icon {
    display: inline-block;
    margin: 15px;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.social-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

}

/* Hover Effect */
.social-icon:hover {
    transform: scale(1.2);
}

/* Footer */
footer {
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #000;
    color: white;
    padding: 10px;
    font-size: 14px;
}